{{#each houses as |house| }}
  {{log house }}
  <section class="house-block-parent">
  <section class="house-block" data-id="{{house._id}}">
    <section class="topbar">
      <section class="address sans">
      {{address house.address}}
     </section>
     <section class="askprice sans">
       ${{house.askingprice}}
     </section>
    </section>
    <section class="house-content">
      <section class="image-block">
        <img src="./public/coming-soon.jpg" alt="image" class="image">
      </section>
      <section class="content-block">
        <section class="specs">
          <section class="bedcount sans blue">
          {{house.beds}}beds
          </section>
          <section class="bathcount sans blue">
            {{house.baths}}baths
          </section>
          <section class="sqftcount sans blue">
            {{house.sqft}}sqft
          </section>
        </section>
        <section class="description">
          <p id="descriptionpar" data-toggle="modal" data-target="#descModal" data-id="{{house._id}}">{{{limit house.description 331}}}</p>
      </section>
      </section>
    </section>
    <section class="extras">
      <section class="date">
        <h4>Closing Date</h4>
        <p class="sans">{{house.closingdate}}</p>
      </section>
      <section class="attorney">
        <h4>Closing Attorney</h4>
        <p class="sans">{{house.closingattorney}}</p>
      </section>
      <section class="deposit">
        <h4>Deposit</h4>
        <p class="sans">{{house.emdeposit}}
      </section>
    </section>
    <section class="contacts sans blue">
      <section class="telnum">
        {{house.listingphone}}
      </section>
      <section class="mail">
        {{house.owner.email}}
      </section>
    </section>
  </section>
</section>
{{/each}}
